<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/notifier.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>log/notifier.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keey 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] [%X{sourceThread}] %-5level
				%logger{36} %X{akkaSource} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="WEBLOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/apnWebLogFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>log/apnWebLogFile.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keey 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.mashupbots.socko.infrastructure.WebLogWriter"
		level="info" additivity="false">
		<appender-ref ref="WEBLOG" />
	</logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
